* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(99, 93, 93);
}

.row {
  display: flex;
  column-gap: 42px;
  padding: 0 12px;
  margin: 40px 0;
  
}
form {
  flex-basis: 30%;
  border: 1px solid white;
  padding: 20px;
}

.tasks {
  flex-basis: 70%;
}

form label {
  font-size: 24px;
  color: white;
  margin-bottom: 8px;
  display: inline-block;
}
form input,
form select {
  width: 100%;
  font-size: 24px;
  padding: 8px 12px;
}
.input-row {
  margin: 20px 0;
}
form button {
  font-size: 24px;
  background-color: green;
  border-radius: 8px;
  padding: 12px 24px;
  color: white;
  cursor: pointer;
}


.task-section {
  width: 100%;
  border: 1px solid white;
  display: flex;
  column-gap: 20px;
  padding: 20px;
}

.todo,
.inprogress,
.done {
  width: 100%;
  color: white;
  cursor: grab;
}

.element-container {
  padding:20px;
  border: 1px dashed gray;
  margin: 10px 0;
}

.element {
  background-color: brown;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
}
.element span{
  display: inline-block;
  padding: 6px 8px;
  border-radius: 50%;
  font-size: 18px;
  background-color: blue;
  color: white;
}
.btns{
  display: flex;
  column-gap: 12px;
}

.hide{
  display: none;
}






.no-tasks {
  display: none;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.assigner-tasks {
  display: none;
}

